.container {
  padding: 20px
}

.container:hover {
  transform: scale(1.03);
  opacity: .95;
  transition: all 250ms ease-in-out 0s;  
}

.card {
  border: none;
  height: 400px;
  width: 300px;
}

.cardbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border: none;
}

.img {
  width: 100%;
  max-height: 300px;
  box-sizing: border-box;
  object-fit: contain;
}

.titlecard {
  color:#1c1b1b;
  font-size: 12px;
}

.link {
  text-decoration: none;
}

.subtitlecard {
  color: #6a6a6a;
  font-size: 12px;
}