#mapid {
  height: 180px;
}
.map {
  text-align: center;
  height: 400px;
  width: 700px;
}

.input {
  width: 400px;
}
.btn {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.flex {
  padding-top: 4.5%;
  display: flex;
  flex-wrap: wrap;
}
.stores {
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
