.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .bar {
    flex-direction: row;
  }
}
