.title {
  padding: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.vaciar {
  background-color: white;
  border: none;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.vaciar:hover {
  border-radius: 0;
  color: black;
  background-color: white;
}

.total {
    font-size: 18px;
}

.container {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  width: 350px;
  position: fixed;
  bottom: 0;
  background-color: white;
}
.shop {
  border-radius: 0;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  background-color: none;
}

.checkout {
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 365px;
  margin-bottom: 20px;
  font-size: 14px;
}

.add {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  position: fixed;
  top: 150px;
  padding: 20px 0px;
}

.bntcontainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.continue {
    padding: 30px 0px;
}

.carrito {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  top: 120px;
  z-index: 100;
  background-color:#7a8450;
  border: 1px solid #7a8450;
  outline: none;
}

.itemcarrito {
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #0466c8;
  z-index: 200;
  position: fixed;
  right: 20px;
  top: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.qitems {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.bag {
  font-size: 20px;
  color: white;
}

.hidden {
  display: none;
}