.contenedorimg {
  width: 80vw;
  height: 40vh;
  left: 36%;
}
.img {
  max-width: 100%;
  max-height: 100%;
}
.carruselcontainer {
  width: 80vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
