.contenedorimg {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 60vh;
  z-index: -1;
}

.carruselcontainer {
  width: 300px;
}

.btncarousel {
  background-color: white;
  border: none;
}

.arrowscontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

.arrows {
  font-size: 24px;
}

@media only screen and (min-width: 500px) {
  .carruselcontainer {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .carruselcontainer {
    width: 700px;
  }
}

@media only screen and (min-width: 1024px) {
  .carruselcontainer {
    width: 1000px;
  }
  .imgs {
    width: 40vw;
  }
  .arrowscontainer {
    width: 40vw;
  }
}