.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  overflow-y: hidden;
  height: 40vh;
}

/* .recommendations {
  margin: 0 30px 0 -15px;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  width: calc(100% + 30px);
}

.recommendations a {
  flex: 0 0 40%;
  padding-right: 5px;
  scroll-snap-align: center;
} */
.containerimg {
  display: flex;
  justify-content: center;
  height: 300px;
  margin-left: 3rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
}

.imagen {
  height: 100%;
}
