.title {
  display: flex;
  background-color: #212529;
  color: white;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
}

.links {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}

.card {
  display: flex;
  justify-content: center;
}
