.checkoutContainer{
  width: auto;
}

.title {
  display: flex;
  background-color: #212529;
  color: white;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
}

.links {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}

.tabsDelivery{
  display: flex;
  justify-content: center;
  width: 100%;
}
.bodyDelivery{
  height:  150px;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
}

.checkoutItems{
  display: flex;
  flex-direction: row;
}

.listgroup {
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.input {
  padding: 5px 2px;
  margin: 10px 10px;
  width: fit-content;
}


.datosEnvio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputDatosEnvio{
  width: 500px;
}

.buttonConfirmarCompra{
  display: flex;
  justify-content: center;
  margin: 40px 40px;
}
.total {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

