.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 1400px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.nosearch {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
}

@media only screen and (min-width: 400px) {
  .container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

    