.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 1400px;
}

@media only screen and (min-width: 660px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

    