.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containercard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
}

.containertext {
    padding: 20px;

}

.containerimg {
  height: 200px;
  display: flex;
  justify-content: center;
}

.img {
  height: 100%;
}

.delete {
    padding-left: 30px;
    background-color: white;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
  }
